.terms-and-conditions-heading {
    font-weight: 800;
    color: #000;
    margin: 5rem 0;
}
.terms-and-conditions-title {
    color: #000;
    font-weight: 800;
}
.terms-and-conditions-para {
    color: #444;
}