:root {
    --bg-color: #f5f5f5;
    --theme-color-default: #ba933e;
    --color: #666666;
    --se-color: #ffffff;
    --headings-color: #1a1a1a;
    --link-color: #666;
    --text-color: #444;
    --btn-bg: #000;
    --btn-color: #fff;
    --product-price-color: #373a3c;
    --product-regular-price-color: #999999;
    --on-sale-badge-background: #f39d72;
    --new-badge-background: #03A9F4;
}
.na {
  background-color: transparent;
 
}
.navbar .nav-link{
  color: var(--headings-color);
  font-weight: 600;
}
.navbar .nav-link:hover {
  color: var(--theme-color-default);
}
.nav-link.active {
  color: var(--theme-color-default) !important;
}
.navbar .icon {
  color: var(--headings-color);
}    
.navbar .icon:hover {
  color: var(--theme-color-default);
  cursor: pointer;
}
.navbar-toggler {
  border: none;
  background: none; 
  padding: 0.25rem;
}
.navbar-toggler-icon {
  background-image: none;
}
.navbar-toggler-icon::before {
  content: "\2630";
  font-size: 1.5em;          
  color: var(--btn-bg);
  font-weight: bold;
}
.navbar-toggler:focus {
  box-shadow: none;
}

/* For md and sm screens only (below 992px) */
@media (max-width: 991.98px) {
  .navbar {
    margin: 1rem 0;
  }
  /* Center the logo */
  .navbar .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -15%);
    top: 0;
  }

.navbar .social-icons-mobile {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    gap: 4px !important;
}
}