:root {
    --bg-color: #f5f5f5;
    --theme-color-default: #ba933e;
    --color: #666666;
    --se-color: #ffffff;
    --headings-color: #1a1a1a;
    --link-color: #666;
    --text-color: #444;
    --btn-bg: #000;
    --btn-color: #fff;
    --product-price-color: #373a3c;
    --product-regular-price-color: #999999;
    --on-sale-badge-background: 
}
.colleclayou1-row {
  margin-top: 5rem;
}
.collection1-home-heading,
.collection1-subc-heading {
    font-weight: 800;
    color: #000;
}
.coll1-side-home {
    font-weight: 800;
    color: #000;
    margin-top: -5.6rem;
    padding-left: 0.4rem;
    padding-bottom: 1rem;
}
.side-listone li a {
    color: #666666;
    font-weight: 600;
    font-size: 0.9rem;
}
.side-listone .arrow-icon {
    color: #000;
    font-size: 1rem;
}
.custom-hr-alt {
    color: #999999;
}
.shop-layout-img {
  border: 1px solid #d8d5d5;
}
.shop-layout-img:hover {
  border: 1px solid #ba933e;
}
.h-six-layimg {
  color: #1a1a1a;
  font-weight: 600;
  padding-top: 1rem;
  cursor: pointer;
}
.h-six-layimg:hover {
  color: #ba933e;
}
.heading-six {
    color: #000;
    font-weight: 800;
}
.my-rounded-circle {
  width: 1.25rem;
  height: 1.25rem;
  background-color: #fff;
}
.my-rounded-circle-two {
  background-color: #000;
}
.my-custom-btn {
    border: 1px solid #d8d5d5;
    border-radius: 2px;
    color: #666666;
    background-color: transparent;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.4rem 0.7rem;
    transition: 0.5s ease-in-out;
}
.my-custom-btn:hover {
    border: 1px solid #ba933e;
    color: #fff;
    background-color: #ba933e;
}
.price-range-label {
    font-size: 0.9rem;
    color: #444;
    font-weight: 600;
}
.price-range-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #ddd;
  border-radius: 3px;
  outline: none;
}

/* Track (background line) */
.price-range-slider::-webkit-slider-runnable-track {
  height: 5px;
  background: #ba933e;
  border-radius: 3px;
}

.price-range-slider::-moz-range-track {
  height: 5px;
  background: #ba933e;
  border-radius: 3px;
}

/* Thumb (draggable circle) */
.price-range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  background: #fff; /* Thumb color */
  border: 2px solid #ba933e;
  cursor: pointer;
  margin-top: -7px;
}

.price-range-slider::-moz-range-thumb {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
}
.box3 {
    background-image: url("/images/secbacimg3.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     height: 70vh;
}
.box4 {
    background-image: url("/images/secbacimg4.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     height: 70vh;
}
.decor-box .cont {
    padding-top: 3rem;
    padding-left: 2.5rem;
}
.decor-box .cont h4 {
    color: var(--headings-color);
    font-weight: 800;
}
.decor-box .cont p {
    color: #444444;
}
.decor-box .cont a {
    color: var(--theme-color-default);
    font-size: 0.9rem;
    font-weight: 800;
}
.decor-box .cont a:hover {
    color: #1a1a1a;
}
.decor-box {
  position: relative;
  overflow: hidden;
}
.decor-box .bor {
  position: absolute;
  pointer-events: none;
}
.decor-box .bor:before,
.decor-box .bor:after,
.decor-box .bor div:before,
.decor-box .bor div:after {
  background-color: #999999;
  position: absolute;
  content: "";
  display: block;
  transition: all 1s ease-in-out;
}
.decor-box .bor:before,
.decor-box .bor:after {
  width: 0;
  height: 2px;
}
.decor-box .bor div:before,
.decor-box .bor div:after {
  width: 2px;
  height: 0;
}
.decor-box .bor {
  top: 20px;
  left: 15px;
  right: 15px;
  bottom: 20px;
}
.decor-box .bor:before {
  top: 0;
  left: 0;
}
.decor-box .bor:after {
  bottom: 0;
  right: 0;
}
.decor-box .bor div:before {
  bottom: 0;
  top: 0;
  
}
.decor-box .bor div:after {
    bottom: 0;
    right: 0;   
}
.decor-box:hover .bor:before,
.decor-box:hover .bor:after {
  width: 100%;
}
.decor-box:hover .bor div:before,
.decor-box:hover .bor div:after {
  height: 100%;
}
@media (max-width: 768px) {
  .collection1-home-heading,
.collection1-subc-heading {
  text-align: center;
}
  .coll1-side-home {
    margin-top: 0;
}
}
@media (max-width: 576px) {
  .collection1-home-heading,
.collection1-subc-heading {
  text-align: center;
}
  .coll1-side-home {
    margin-top: 0;
}
}